<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.youku.share.crowdfunding.dao.UserMapper" >

    <resultMap id="BaseResultMap" type="com.youku.share.crowdfunding.po.User" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="age" property="age" jdbcType="INTEGER" />
        <result column="gender" property="gender" jdbcType="VARCHAR" />
        <result column="backup" property="backup" jdbcType="VARCHAR" />
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <sql id="BaseColumnListWithoutId">
        name, age, gender, backup, create_time, update_time
    </sql>
    <sql id="BaseColumnList">
        id,
        <include refid="BaseColumnListWithoutId" />
    </sql>
    <sql id="SelectiveColumnListWithoutId">
        <if test="name != null">name,</if>
        <if test="age != null">age,</if>
        <if test="gender != null">gender,</if>
        <if test="backup != null">backup,</if>
        <if test="createTime != null">create_time,</if>
        <if test="updateTime != null">update_time,</if>
    </sql>
    <sql id="BaseValueListWithoutId">
        #{name,jdbcType=VARCHAR},
        #{age,jdbcType=INTEGER},
        #{gender,jdbcType=VARCHAR},
        #{backup,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}
    </sql>
    <sql id="SelectiveValueListWithoutId">
        <if test="name != null">#{name,jdbcType=VARCHAR},</if>
        <if test="age != null">#{age,jdbcType=INTEGER},</if>
        <if test="gender != null">#{gender,jdbcType=VARCHAR},</if>
        <if test="backup != null">#{backup,jdbcType=VARCHAR},</if>
        <if test="createTime != null">#{createTime,jdbcType=TIMESTAMP},</if>
        <if test="updateTime != null">#{updateTime,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="BaseEqListWithoutId">
        name = #{name,jdbcType=VARCHAR},
        age = #{age,jdbcType=INTEGER},
        gender = #{gender,jdbcType=VARCHAR},
        backup = #{backup,jdbcType=VARCHAR},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        update_time = #{updateTime,jdbcType=TIMESTAMP}
    </sql>
    <sql id="SelectiveEqListWithoutId">
        <if test="name != null">name = #{name,jdbcType=VARCHAR},</if>
        <if test="age != null">age = #{age,jdbcType=INTEGER},</if>
        <if test="gender != null">gender = #{gender,jdbcType=VARCHAR},</if>
        <if test="backup != null">backup = #{backup,jdbcType=VARCHAR},</if>
        <if test="createTime != null">create_time = #{createTime,jdbcType=TIMESTAMP},</if>
        <if test="updateTime != null">update_time = #{updateTime,jdbcType=TIMESTAMP},</if>
    </sql>
    <sql id="SelectiveAndPreEqListWithoutId">
        <if test="name != null">and name = #{name,jdbcType=VARCHAR}</if>
        <if test="age != null">and age = #{age,jdbcType=INTEGER}</if>
        <if test="gender != null">and gender = #{gender,jdbcType=VARCHAR}</if>
        <if test="backup != null">and backup = #{backup,jdbcType=VARCHAR}</if>
        <if test="createTime != null">and create_time = #{createTime,jdbcType=TIMESTAMP}</if>
        <if test="updateTime != null">and update_time = #{updateTime,jdbcType=TIMESTAMP}</if>
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap"
        parameterType="java.lang.Long">
        select
        <include refid="BaseColumnList" />
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <insert id="insert" parameterType="com.youku.share.crowdfunding.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into user (
        <include refid="BaseColumnListWithoutId" />
        )values(
        <include refid="BaseValueListWithoutId" />
        )
    </insert>
    <insert id="insertSelective" parameterType="com.youku.share.crowdfunding.po.User" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <include refid="SelectiveColumnListWithoutId" />
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <include refid="SelectiveValueListWithoutId" />
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.youku.share.crowdfunding.po.User">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <include refid="SelectiveEqListWithoutId" />
        </trim>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from user
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <select id="selectWhere" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList" />
        from user
        where 1 = 1
        <include refid="SelectiveAndPreEqListWithoutId" />
    </select>
    <select id="selectPage" resultMap="BaseResultMap">
        select
        <include refid="BaseColumnList" />
        from user
        where 1 = 1
        <include refid="SelectiveAndPreEqListWithoutId" />
        order by ${order_} ${sort_}
        limit ${limitStart_}, ${limitSize_}
    </select>
    <select id="pageCount" resultType="int">
        select count(1)
        from user
        where 1 = 1
        <include refid="SelectiveAndPreEqListWithoutId" />
    </select>
</mapper>